body {
	background-color: #F4F4F4;
	margin-top: 20px;
	font-family: Arial, Helvetica,Verdana, sans-serif;
}
#wrapper {
		margin-left: auto;
		margin-right: auto;
		background-color: #F0F0F0;
		width: 980px;
		
}

#header {
		width: 100%;
		height: 100px;
		background-color: #F2F0;
		
}

#menue-top {
		width: 100%;
		height: 15px;
		background-color: #999;
		text-transform: uppercase;
		text-weight: bold;
		text-family:Trebouchet MS,Arial;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 8px;
		
		
        
}

#menue-top ul {
	margin: 0px;
	padding: 0px;
}
#menue-top ul li {
	list-style-type: none;
}

#menue-top ul li a{
	list-style-type: none;
	height: 15px;
	width: 150px;
	display: block;
	float: left;
	text-decoration: none;
	color: #000;
	
}
#content {
		width:960px;
		background-color: #F8F8F8;
		margin-bottom: 10px;
		padding:10px 10px 10px 10px;
		
		
       
}

#footer {
	    margin-top: 50px;
	    text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 980px;
		height: 30px;
}

.shadow {
	-webkit-box-shadow: 2px 0px 10px #000;
	-moz-box-shadow: 2px 0px 10px #000;
	box-shadow: 2px 0px 10px #000;
}